#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.square-div {
  width: 6%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  margin: 1px;
  flex-shrink: 0;
  box-sizing: border-box;
}